<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @hack.title %>
      </p>
      <%= link_to "by #{@hack.user.name}", user_path(@hack.user), class: :prototype__user %>
          <% if user_signed_in? && current_user.id == @hack.user_id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_hack_path(@hack.id), class: :prototype__btn %>
          <%= link_to "削除する", hack_path(@hack.id), method: :delete, class: :prototype__btn %>
        </div>
          <% end %>
      <div class="prototype__image">
        <%= image_tag @hack.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">Hack Reson</p>
          <p class="detail__message">
            <%= @hack.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">Hack Example</p>
          <p class="detail__message">
            <%= @hack.concept %>
          </p>
        </div>
      </div>
      <div class="prototype__comments">
          <% if user_signed_in? %>
           <%= form_with(model: [@hack,@comment], local: true) do |f|%>
            <div class="field">
               <%= f.label :content, "comment" %><br />
               <%= f.text_field :content, id:"comment_content" %>
            </div>
            <div class="actions">
               <%= f.submit "Send", class: :form__btn  %>
            </div>
             <% end %>
          <% end %>
        <ul class="comments_lists">
        <% @comments.each do |comment| %>
           <li class="comments_list">
           <%= comment.content %>
         <%= link_to comment.user.name, user_path(@hack.user), class: :comment_user %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
